.icons{
    font-size: 5em;
    margin-bottom: 1em;
    color: #a85432;
   }

.titleService {
    font-size: 25px;
    word-wrap: break-word;
    width: 20vw; 
    margin-bottom: 30px;
    color: #391f14;
}